
    <footer class="main-footer text-sm">
        <div class="float-right d-none d-sm-block">
            <b localize-content>Version</b> 1.0.0
        </div>
        <strong><localize>Copyright</localize> &copy; <localize>2022-2023 Property Management System</localize></strong> <localize>All rights reserved.</localize>
    </footer>


